.newStop {
    padding: 15px;
    .newStop__container {
        display: flex;
        flex-direction: column;

        .title {
            text-transform: uppercase;
            margin-bottom: 15px;
        }

        .formInput {
            margin-bottom: 15px;
            input {
                width: 100%;
                padding: 5px;
                border: none;
                border-bottom: 1px solid gray;
              }
              textarea {
                width: 100%;
                min-height: 50px;
                padding: 5px;
                border: none;
                border-bottom: 1px solid gray;
              }

              .time {
                width: 200px;
              }
        }

        button {
            width: 200px;
            height: 50px;
            border-radius: 10px;
            align-self: center;
            cursor: pointer;
            transition: 0.35s ease-in-out;
        }

        button:hover {
            background-color: black;
            color: white;
        }
    }

}