.login__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    .login__image {
            width: 50%;
            height: 600px;
    }

    .login__form__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        gap: 15px;

        input {
            width: 200px;
            height: 30px;
            border-radius: 5px;
            outline: none;
            border: none;
        }

        button {
            width: 100px;
            border-radius: 5px;
            height: 30px;
            outline: none;
            border: none;
            cursor: pointer;
        }   

        button:hover {
            background-color: black;
            color: #ffffff;
            transition: 0.2s ease-in;
        
        }
    }
}